/* アコーディオン型 */

.acc {
    list-style: none;
    width: 96%;
    max-width: 900px;
    margin: 0 0 0 10px;
}

.acc li {
    margin: 10px 0;
}

.acc section {
    border: 1px solid #ccc;
}

/* アコーディオンタイトル */

._title {
    position: relative;
    cursor: pointer;
    font-size:1rem;
    font-weight: normal;
    padding: 3% 3% 3% 50px;
    transition: all .5s ease;
}

/*アイコンの＋と×*/
._title::before,
._title::after{
    position: absolute;
    content:'';
    width: 15px;
    height: 3px;
    background-color: #FF7F00;

}
._title::before{
    top:48%;
    left: 15px;
    transform: rotate(0deg);

}
._title::after{
    top:48%;
    left: 15px;
    transform: rotate(90deg);

}
/*　close形状変化　*/
._title.close::before{
    transform: rotate(45deg);
}

._title.close::after{
    transform: rotate(-45deg);
}

.box {
    display: none;
    background: #FFCC00;
    border: solid 2px #FFF500;
    margin:0 3% 3% 3%;
    padding: 3%;
    color: #000;
}

.char {
    /*background: #E5FF00;*/
    color: #000;
}

.center {
    text-align: center;
    font-size: 18px;
}

.h2 {
    margin-left: 100px;
}

