.acc {
    list-style: none;
    width: 96%;
    max-width: 900px;
    margin: 0 0 0 10px;
}

.acc li {
    margin: 10px 0;
}

.acc section {
    border: 1px solid #ccc;
}

._title {
    position: relative;/*+マークの位置基準とするためrelative指定*/
    cursor: pointer;
    font-size:1rem;
    font-weight: normal;
    padding: 3% 3% 3% 50px;
    transition: all .5s ease;
}

/*アイコンの＋と×*/
._title::before,
._title::after{
    position: absolute;
    content:'';
    width: 15px;
    height: 2px;
    background-color: #333;

}
._title::before{
    top:48%;
    left: 15px;
    transform: rotate(0deg);

}
._title::after{
    top:48%;
    left: 15px;
    transform: rotate(90deg);

}
/*　closeというクラスがついたら形状変化　*/
._title.close::before{
    transform: rotate(45deg);
}

._title.close::after{
    transform: rotate(-45deg);
}

.box {
    display: none;/*はじめは非表示*/
    background: #f3f3f3;
    margin:0 3% 3% 3%;
    padding: 3%;
}
